= simple_form_for(@service) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  .form-inputs.title
    = f.input :name, :placeholder => "Введите название вашего сервиса"
    = f.input :description, :placeholder => "Распишите, чем вы занимаетесь"
    = f.file_field :avatar
    = f.select :company_id, @user_companies.map {|el| [el.name, el.id] }
    = f.button :submit, 'Create service', class: "btn btn-primary"
      