.container.bg-yellow
  %h3.font-weight-bold= @service.name
  .container
    .row
      .col-4
        .img{ src: @service.avatar, alt: @service.name }
      .col-8
        %div.embed-responsive-embed-responsive-16by9
          %img{ src: @service.avatar, alt: @service.name }
    .row
      .col-4
        %br
        %ul.attributes-list
          %li
            .attribute-name Owner
            = @service.company
          %li
            .attribute-name Description
            = @service.description
      .col-8
        %br
        .text-justify= @service.description
        %br
          = link_to 'Link to Company', '/company'