#service-section
  .container
  %body.all-color
    %h3.title= @service.name
    .container
      %body
        .row.attributes-list
          .col-4
            = image_tag(@service.avatar_thumbnail) if @service.avatar.attached?
        .row
          .col-4
            %br
            %ul.attributes-list
              %li
                .attribute-name Company
                = link_to "#{@service.company&.name}", company_path(@service.company), class: 'attribute-link'
              %li
                .attribute-name Service Description
                .text-justify= @service.description
          .col-8
            %br
            .attribute-name Company Description
            .text-justify= @service.company.description
            %br
              - if @service.user_id == @user.id
                = link_to 'Destroy', @service, method: :delete
            %br 
              - if @service.user_id == current_user.id || current_user.has_role?(:admin)
                = link_to 'Create limit for service', "/services/#{@service.id}/time_limits/new"
            %br
              = link_to 'Make order', "/services/#{@service.id}/orders/new" if @service.time_limit != nil
            %br
              %label="Unfortunately this service has not started working yet" if @service.time_limit == nil
            .container
              %h2.subtitle.is-5
              %hr.new5
                %strong= @service.comments.count
                Comments
              = render @service.comments  
              .comment-form
                %hr.new5
                %h3.subtitle.is-3 Leave a reply
                = render 'comments/form'