%h1 Basket#show
%p Find me in app/views/basket/show.html.erb

.row
  .col-md-6.col-lg-4
  - @orders.each do |order|
    .part-1
      %i.fab.fa-500px
      %h3.title 
        = order.name
    %br
      - if has_role?(:admin || :customer)
        = link_to 'Destroy', @order, method: :delete

- @orders.each do |item|
  %h3= item.service.name
  = form_with model: item do |f|
    = f.hidden_field :service_id, value: item.service.id
    = f.submit "Update Cart"
    = link_to "Remove Items", item, method: :delete, remote: true
  %h2
    Subtotal: #{item.service_id}
