.black
  .container
    .row
      .col-md-3
        .d-flex.flex-column.align-items-center.text-center.p-3.py-5
          %img.rounded-circle.mt-5{:src => "sparrow.jpeg"}/
          = image_tag 'sparrow.jpeg'
          %span.font-weight-bold=@user.name
          %span.text-black-50=@user.email
          %span
      .col-md-5
        .p-3.py-5
          .d-flex.justify-content-between.align-items-center.mb-3
            %h4.text-right Profile Settings
          .row.mt-2
          = simple_form_for(@user) do |f|
            .col-md-6.title
              = f.input :name, :placeholder => "Введите ваше имя"
            .col-md-6.title
              = f.input :surname, :placeholder => "Введите вашу фамилию"
              = f.button :submit, 'Update profile'
          .mt-5.text-center
            = link_to 'Check Basket', '/basket', class: 'nav-link'
            - if has_role?(:admin) || has_role?(:owner)
              = link_to 'Create your company', "/users/#{@user.id}/companies/new", class: 'nav-link'
              = link_to 'Create your service', "/users/#{@user.id}/services/new", class: 'nav-link'