%html{:lang => "en"}
  %head
    %title Services Section Using Bootstrap 4
  %body
    %section.section-services
      .container
        .row.justify-content-center.text-center
          .col-md-10.col-lg-8
            .header-section
              %h1 Elastic search for services
              = form_for :search_services, url: search_services_path, method: :get do |form|
                = form.text_field :query, value: params[:search_services].presence && params[:search_services][:query]
                = form.submit 'Search'
                .row
                  / Start Single Service
                  .col-md-6.col-lg-4
                  - @services.each do |service|
                    .single-service
                      .part-1
                        %i.fab.fa-500px
                        %h3.title 
                          = service.name
                      .part-2
                        %p.description 
                          = service.description
                        %a{:href => "#"}
                          %i.fas.fa-arrow-circle-right>
                          %a.card-link{:href => "/services/#{service.id}"} Read More
                  / / End Single Service
                - if has_role?(:admin)
                  %i.bi.bi-bookmark-plus-fill