%p#notice= notice
%p
  %strong Name:
  = @order.name
%p
  %strong Start time:
  = @order.start_time
%p
  %strong End time:
  = @order.start_time + @length
%p
  %strong User:
  = @order.user_id

= link_to 'Back', orders_path
