%p#notice= notice
%h1 Time Limits
%table
  %thead
    %tr
      %th Start time
      %th End time
      %th User
      %th Service
      %th{:colspan => "3"}
  %tbody
    - @time_limits.each do |time_limit|
      %tr
        %td= time_limit.start_time
        %td= time_limit.end_time
        %td= time_limit.user_id
        %td= time_limit.service_id
        %td= link_to 'Show', time_limit
        %td= link_to 'Edit', edit_time_limit_path(time_limit)
        %td= link_to 'Destroy', time_limit, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Time Limit', new_time_limit_path
