<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @time_limit.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @time_limit.end_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @time_limit.user_id %>
</p>

<p>
  <strong>Service:</strong>
  <%= @time_limit.service_id %>
</p>

<%= link_to 'Edit', edit_time_limit_path(@time_limit) %> |
<%= link_to 'Back', time_limits_path %>
